@page "/kantarList"
@using BlazorWASM_GeotekProject.Models
@inject HttpClient Http

<h3>Kantar Listesi</h3>

<p>
    <a href="/addKantar" class="btn btn-info">Kantar Onayı</a>
</p>

@if (kantarList == null)
{
    <p>Yükleniyor...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Oluşturma ID</th>
                <th>Kamyon Ağırlığı (Kg)</th>
                <th>Plaka</th>
                <th>Kamyon Hammadde</th>
                <th>Onay Durumu</th>
                <th>Oluşturulma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kantar in kantarList)
            {
                var relatedBosaltma = bosaltmaList.FirstOrDefault(b => b.KamyonId == kantar.KamyonId);
                <tr>
                    <td>@kantar.Id</td>
                    <td>@kantar.KamyonKg</td>
                    <td>@kantar.Plaka</td>
                    <td>@kantar.Kamyon.Hammadde</td>
                    <td>
                        @if (kantar.OnayDurum && relatedBosaltma != null && relatedBosaltma.BosaltmaDurumu)
                        {
                            <span>Onaylandı</span>
                        }
                        else if (kantar.OnayDurum && (relatedBosaltma == null || (relatedBosaltma != null && !relatedBosaltma.BosaltmaDurumu)))
                        {
                            <span>2. Onayı bekliyor</span>
                        }
                        else
                        {
                            <span>1. Onayı bekliyor</span>
                        }
                    </td>
                    <td>@kantar.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/editKantar/@kantar.Id" class="btn btn-primary">Düzenle</a>
                        <a href="/deletekamyon/@kantar.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Kantar[] kantarList;
    private Bosaltma[] bosaltmaList;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        kantarList = await Http.GetFromJsonAsync<Kantar[]>("http://localhost:5129/api/Kantars/GetAllKantarlarWithKamyon");
        bosaltmaList = await Http.GetFromJsonAsync<Bosaltma[]>("http://localhost:5129/api/Bosaltmas/GetAllBosaltmalarWithKamyon");
    }
}
