@page "/"
@attribute [StreamRendering]
@using BlazorWASM_GeotekProject.Components.Models
@inject HttpClient Http

<PageTitle>Kamyon Listesi</PageTitle>

<MudCarousel Class="mud-width-full" Style="height: 400px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <img src="kantarbir.png" alt="Image 1" style="width: 100%; height: 100%; object-fit: contain;" />
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <img src="kantariki.png" alt="Image 2" style="width: 100%; height: 100%; object-fit: contain;" />
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <img src="kantaruc.png" alt="Image 3" style="width: 100%; height: 100%; object-fit: contain;" />
    </MudCarouselItem>
</MudCarousel>

<p>
    <a href="/addKamyon" class="btn btn-info">Yeni Kamyon Ekle</a>
</p>

@if (kamyonList == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plaka</th>
                <th>Hammadde</th>
                <th>Miktar</th>
                <th>Oluşturulma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kamyon in kamyonList)
            {
                <tr>
                    <td>@kamyon.Plaka</td>
                    <td>@kamyon.Hammadde</td>
                    <td>@kamyon.Miktar</td>
                    <td>@kamyon.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/editkamyon/@kamyon.Id" class="btn btn-primary">Düzenle</a>
                        <a href="/deletekamyon/@kamyon.Id" class="btn btn-danger">Sil</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Kamyon[]? kamyonList;
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500); // Simulate async loading
        await LoadKamyonData();
    }

    private async Task LoadKamyonData()
    {
        kamyonList = await Http.GetFromJsonAsync<Kamyon[]>("http://localhost:5129/api/Kamyons/GetAllKamyon");
    }
}
